*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Montserrat;
    color: #777777;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar-brand{
  font-size: 25px;
}


.bg-1 {
    margin-top: 40px;
    background: red;
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
.container-fluid
{  
  height: 600px;
  width: 100%;
  padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}



h3{
  padding-top: 75px;
  margin: 30px;
  font-size: 50px;
}

.margin {margin-bottom: 45px;}








  


    
